cachetools==4.2.4
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
contextvars==2.4
dataclasses==0.6
Flask==2.0.3
google-api-core==1.32.0
google-auth==1.35.0
google-cloud-core==1.7.3
google-cloud-translate==2.0.1
googleapis-common-protos==1.56.3
googletrans==4.0.0rc1
grpcio==1.48.2
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
immutables==0.19
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.27.1
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.2.0
typing-extensions==4.1.1
urllib3==1.26.14
Werkzeug==2.0.3
zipp==3.6.0
