<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Motigo_Join</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>
    <form>
        <h1>로그인</h1>
        <button id="signinButton">구글로그인</button>
    </form>
    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-analytics.js";

      const firebaseConfig = {
        apiKey: "AIzaSyBDbhtHs4AmHDrf3F8JIUcdQB4twcpBvAs",
        authDomain: "motigos.firebaseapp.com",
        projectId: "motigos",
        storageBucket: "motigos.appspot.com",
        messagingSenderId: "749363177281",
        appId: "1:749363177281:web:2c4a049c67582f62ce63c0",
        measurementId: "G-55WG264BWW"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);

      //firebase auth
      import { getAuth, signInWithPopup, GoogleAuthProvider, onAuthStateChanged, setPersistence, signInWithEmailAndPassword, browserSessionPersistence } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-auth.js";

      const provider = new GoogleAuthProvider();
      const auth = getAuth();

      console.log('getAuth 객체 로딩 완')

      document.getElementById('signinButton').addEventListener
      ('click', () => {
          event.preventDefault()
		  setPersistence(auth, browserSessionPersistence)
          .then(() => {
          console.log('setPersistence 함수 로딩')
          signInWithPopup(auth, provider)
              .then((result) => {
                console.log('sign in 로딩')
                const credential = GoogleAuthProvider.credentialFromResult(result);
                const token = credential.accessToken;
                const user = result.user;

               console.log(user)
               const username = user.displayName;
               const email = user.email;
               const uid = user.uid;
               const cred = user.metadata.creationTime;

                var info = new Object();
                info.uid = uid;
                info.uname = username;
                info.email = email;
                info.cred = cred;

                console.log(info)

                $.ajax({
                    url:"/saveSQL",
                    type:"POST",
                    contentType: "application/json",
                    data: JSON.stringify(info)
                });

              }).catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                const email = error.customData.email;
                const credential = GoogleAuthProvider.credentialFromError(error);
              });
			});
      })

	      //로그인 여부 확인 코드
	      onAuthStateChanged(auth, (user) => {
          if (user) {
            alert('로그인 성공')
            location.replace('/trans');
          } else {
            //alert('로그인 필요')
            setPersistence();
          }
      });
    </script>
</body>

</html>