<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Motigo_Join</title>
</head>
<body>
    <form>
        <h1>로그인</h1>
        <button id="signinButton">구글로그인</button>
    </form>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional



      const firebaseConfig = {
        apiKey: "AIzaSyCDdRnBH7OF25AIZZtMN4gXyJNxSHlBWWs",
        authDomain: "yskim-solo.firebaseapp.com",
        databaseURL: "https://yskim-solo-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "yskim-solo",
        storageBucket: "yskim-solo.appspot.com",
        messagingSenderId: "645562528610",
        appId: "1:391332700991:web:57e0192716fd2d50ee298a",
        measurementId: "391332700991"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);


      //firebase auth
      import { getAuth, signInWithPopup, GoogleAuthProvider, onAuthStateChanged, setPersistence, signInWithEmailAndPassword, browserSessionPersistence } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-auth.js";

      const provider = new GoogleAuthProvider();
      const auth = getAuth();

      // 구글 로그인 버튼 클릭 시 팝업으로 로그인 처리
      document.getElementById('signinButton').addEventListener
      ('click', () => {
          event.preventDefault()

          setPersistence(auth, browserSessionPersistence)
          .then(() => {
            signInWithPopup(auth, provider)
          .then((result) => {
            // This gives you a Google Access Token. You can use it to access the Google API.
            const credential = GoogleAuthProvider.credentialFromResult(result);
            const token = credential.accessToken;
            // The signed-in user info.
            const user = result.user;
            // IdP data available using getAdditionalUserInfo(result)
            // ...
            alert('로그인 성공! 환영합니다:)')
          }).catch((error) => {
            // Handle Errors here.
            const errorCode = error.code;
            const errorMessage = error.message;
            // The email of the user's account used.
            const email = error.customData.email;
            // The AuthCredential type that was used.
            const credential = GoogleAuthProvider.credentialFromError(error);
            // ...
          });
            return signInWithEmailAndPassword(uid, email, username);
            var uid = firebase.auth().currentUser.uid
            var username = firebase.auth().currentUser.displayName
            var email = firebase.auth().currentUser.email
            var createdate = firebase.auth().currentUser.metadata.creationTime


            info = []
            info.push(uid)
            info.push(username)
            info.push(email)
            info.push(createdate)

            const user_profile = {info}
            const j = JSON.stringify(user_profile);
            console.log('제이슨화된 객체', j)

            $.ajax({
            url:"/saveSQL",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(j)});
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
          });
        });

        //로그인 여부 확인 코드
          onAuthStateChanged(auth, (user) => {
          if (user) {
            console.log(user)
            //alert('이미 완료된 로그인')
            location.replace('/trans');
          } else {
            //alert('로그인 필요')
            setPersistence()
          }
      })
    </script>
</body>

</html>