<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    a {
  text-decoration-line: none;
  color: black;
  border: 3px solid gray;
}
 a.first{
 position: fixed;
 top: 50px;
 right:1300px;
 }

 a.second{
 position: fixed;
 top :50px;
 right:1000px;
 }

a.third{
position: fixed;
top : 50px;
right:700px;
}

.graph{
position: fixed;
top : 100px;
left : 400px;
}

</style>

<iframe class="graph"width="1300" height="900" src="https://lookerstudio.google.com/embed/reporting/2c584920-917c-41db-91a5-f55f4d7b46e2/page/p_hzqy53oj3c" frameborder="0" style="border:0" allowfullscreen></iframe>

    <h2><a href="/user_list" class="first">회원정보 확인하기</a></h2>
    <h2><a href="/charge_list" class="second">결제정보 확인하기</a></h2>
    <h2><a href="/tr_select" class="third">번역정보 확인하기</a></h2>

</body>
</html>



