<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>Motigo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyCDdRnBH7OF25AIZZtMN4gXyJNxSHlBWWs",
    authDomain: "yskim-solo.firebaseapp.com",
    databaseURL: "https://yskim-solo-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "yskim-solo",
    storageBucket: "yskim-solo.appspot.com",
    messagingSenderId: "391332700991",
    appId: "1:391332700991:web:57e0192716fd2d50ee298a"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);

  import { getAuth, onAuthStateChanged, browserSessionPersistence, signOut } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-auth.js";

      const auth = getAuth();

      //로그인 여부 확인 코드
          onAuthStateChanged(auth, (user) => {
          if (user) {
            console.log(user)
            document.getElementById('signoutButton').addEventListener
              ('click', () => {
                signOut(auth).then(() => {
                  // Sign-out successful.
                }).catch((error) => {
                  // An error happened.
                });
                alert('로그아웃 완료')
              });
          } else {
            alert('로그인 후 이용 가능합니다')
            location.replace('/');
          }
      })
</script>
  <style>
    .move{
    position: absolute;
    right:0px;
    top:0px;
    }
  </style>


    <h1 class="offset-md-3">MOTIGO TRANSLATOR</h1>
    <br>
    <div class="container text-center">
    <form action="/trans" method="get">
        <div class="row align-items-center">
          <div class="col">
            <textarea placeholder="번역할 것을 적어주세요" rows=10 cols=30 name="sourcetxt" id="sourcetxt"></textarea>
            <p><span id="charNum">0</span> characters</p>
          </div>
          <div class="col">
            <button class="btn btn-warning" id="trans">번역</button>
          </div>
          <div class="col" style="border:1px black solid; height:300px;">
              번역된 항목<br>
              {{result}}
          </div>
          <p><span id="point" name="point">{{point}}</span> points</p>
          <p id="notices" style="color: red"> </p>
        </div>
      </form>
      <button type="button" onclick="location.href='kg' ">결제하러가기</button>

      <div class="move">
         <button  type="button" onclick="location.href='move_admin' ">관리자 페이지가기</button>
      </div>

      <div class="out">
        <button type="button" id="signoutButton">로그아웃</button>
      </div>

      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      var txt = '{{sourcetxt}}';
      var len = '{{len}}';
      var point = document.getElementById('point').innerText;
      var button_click = document.getElementById("trans");

      // point가 0 이하일 경우 음의 정수가 아닌 0으로 표시
      if(point <= 0) {
        document.getElementById("point").innerHTML = 0;
      }

      // 번역 전 내용 함께 출력
      if(txt != "None") {
        console.log(txt);
        document.getElementById("sourcetxt").innerHTML = txt;
      }

      // 번역을 이미 한번 돌린 후라 내역이 남아있을 시
      if(len != "") {
        document.getElementById("charNum").innerHTML = len;

        pCompare(len, point);
      }

      // 기존 번역 내역에서 추가하거나 새로이 입력할 때 글자 수 세기
      $('#sourcetxt').keyup(function(){
        var m = $(this).val().replace(/\s+/g, ''); //입력한 값 공백제거
        var len = m.length;
        document.getElementById("charNum").innerHTML = len;

        pCompare(len, point);
      });

      //글자 수 - 포인트 대조 후 버튼 활성화
      function pCompare(len, point){
        if(point<len || point == 0) {
          button_click.disabled = true;
          document.getElementById("notices").innerHTML = '포인트가 부족합니다';
        } else {
          button_click.disabled = false;
          document.getElementById("notices").innerHTML = '';
        }
      }
    </script>
  </body>
</html>